 div#textEditor{
    margin: 0;
    width: 1000px;
    height: 700px;
}

 div#toolbar{
    border-bottom: none;
    padding: 10px;
    background-color: rgb(19, 97, 170);
    color: white;
    
}

 div#richTextArea{
   border: 2px solid rgb(19, 97, 170);
   height: 700px;
   width: 996px;
   display: none;
   

}

div#formattingbar{
  border-bottom: none;
  padding: 10px;
  background-color: rgb(19, 97, 170);
  color: white;
  display: none;
  

  
}

div#formattingbar > button {

color: white;
border: none;
outline : none;
background-color: transparent;
cursor: pointer;


}

div#toolbar > button {

  color: white;
  border: none;
  outline : none;
  background-color: transparent;
  cursor: pointer;
  
  
  }

.resizable {
    background: white;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    
  }
  
  .resizable .resizers{
    width: 100%;
    height: 100%;
    border: 3px solid #4286f4;
    box-sizing: border-box;
  }
  
  .resizable .resizers .resizer{
    width: 10px;
    height: 10px;
    border-radius: 50%; /*magic to turn square into circle*/
    background: white;
    border: 3px solid #4286f4;
    position: absolute;
  }
  
  .resizable .resizers .resizer.top-left {
    left: -5px;
    top: -5px;
    cursor: nwse-resize; /*resizer cursor*/
  }
  .resizable .resizers .resizer.top-right {
    right: -5px;
    top: -5px;
    cursor: nesw-resize;
  }
  .resizable .resizers .resizer.bottom-left {
    left: -5px;
    bottom: -5px;
    cursor: nesw-resize;
  }
  .resizable .resizers .resizer.bottom-right {
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
  }

#output {
  width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
    
  }

  

    